.navigation{
    width: 100%;
    padding: 10px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back img,
.cart img {
    width: 100px;
    cursor: pointer;
}

.back img:hover,
.cart img:hover {
    transform: scale(1.1);
}

.cart {
    position: relative;
}

.cart_count {
    position: absolute;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 14px;
}

.motorcycle_list{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motorcycle_list h2{
    color: #000;
    font-size: 72px;
}

.product_card{
    max-width: 274px;
    max-height: 424px;
    min-height: 420px;
    width: 100%;
    height: 100%;
    background-color: #252C33;
    display: flex;
    flex-direction: column;
    padding: 14px 14px 20px 14px;
    border-radius: 10px;
}

.product_card img{
    border-radius: 10px;
    height: 200px;
}

.product_card h2{
    font-size: 20px;
    color: #D3AF37;
    font-weight: 600;
    margin: 22px 0 10px 0;
}
.product_card h3{
    font-size: 24px;
    font-weight: 700;
    color: #D3AF37;
    margin-bottom: 34px;
}

.colorAndStock{
    display: flex;
    gap: 44px;
}

.colorAndStock p{
    font-size: 16px;
    color: #D3AF37;
}

.btn{
    width: 120px;
    height: 32px;
    color: #252C33;
    font-size: 16px;
    font-weight: bold;
    background-color: #D3AF37;
    border-radius: 10px;
    border: 1px solid black;
    margin: 34px auto 0;
}

.btn:hover{
    background-color: #ab8d2a;
    color: #fff;
}

.motorcycle_cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .back{
        left: 80px;
    }
    .navigation{
        padding: 10px 80px;
    }
}

@media screen and (max-width: 768px) {
    .back{
        left: 100px;
    }
    .navigation{
        padding: 20px 30px;
    }
    .back img,
    .cart img {
        width: 60px;
        cursor: pointer;
    }
}