.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title{
    color: #000;
    font-size: 72px;
}
.empty{
    color: red;
    font-size: 100px;
    padding: 236.2px 0;
    text-align: center;
}
.cart{
    background-color: darkblue;
    padding: 40px;
}

.back img {
    width: 60px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    width: 600px;
    margin: 16px auto;
    align-items: center;
}

.image {
    width: 100px;
    height: 100px;
    margin-right: 16px;
}

.details {
    flex: 1;
}

.name {
    font-size: 24px;
    margin-bottom: 8px;
    color: #000;
    font-weight: bold;
}

.price {
    font-size: 18px;
    color: #000;
}

.remove {
    cursor: pointer;
    color: red;
    font-size: 30px;
}

@media screen and (max-width: 620px) {
    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        display: flex;
        width: 400px;
        margin: 16px auto;
        align-items: center;
    }
}